body {
  background-color: #e6f2ff;
}

body {
  font-family: Verdana;
}

h1 {
  font-size: 40px;
}

li {
  color: darkblue;
}
.container {
  border: 2px solid black;
  padding: 15px;
}

li:hover {
  color: red;
}

